@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

// FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;

@import "variable";


body {
    color: $color1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
}

.navbar-c {
    padding-top: 20px;
    padding-bottom: 20px;

    &__nav-button {
        border: 2px solid $color4;
        color: $color4;
        transition: 0.1s;
        font-weight: 700 !important;
    }

    &__nav-button:hover {
        border: 2px solid $color4;
        color: $color1;
        background-color: $color4;
        font-weight: 400 !important;
    }

    &__nav-btn-icon {
        height: 24px;
        width: 24px;
    }
}